body
{
    font-family: 'Montserrat', 'Source Sans Pro',sans-serif;
    font-weight: 300;

    color: #222;
    background-color: #fefefe;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.home
{
    position: fixed;

    overflow: hidden;

    width: 100%;
    height: 100vh;
}
.container
{
    position: relative;

    width: 90%;
    max-width: 1160px;
    margin: 0 auto;
}
.content
{
    width: 100%;
    padding-top: 53px;
}

nav
{
    width: 100%;
}
.logo
{
    width: 30px;
    margin-left: 86px;
}
/*-----------------------Burger Menu---------------------------------------------------------------------------------*/
.burger
{
    position: absolute;
    z-index: 1000;
    top: 40%;
    left: 0;

    width: 100%;
    margin: 0 auto;

    text-align: center;
}
.burger a
{
    font-size: 20px;

    position: relative;
    top: 5px;

    display: inline-block;
    overflow: hidden;

    text-align: center;
    text-decoration: none;

    color: red;
}
.burger a
{
    transition: .35s ease;
}
.burger a:hover,
.burger a:focus,
.burger a:active
{
    color: #f7c96b;
}


.button_container
{
    position: fixed;
    z-index: 100;
    top: 6%;
    right: 10%;

    width: 35px;
    height: 29px;

    cursor: pointer;
    transition: opacity .25s ease;
}
.button_container:hover .bottom
{
    width: 16px;
}
.button_container.active:hover .bottom
{
    width: 24px;
}

.button_container.active .top
{
    transform: translateY(3px) translateX(0px) rotate(45deg);

    background: #fff;
}

.button_container.active .bottom
{
    transform: translateY(-6px) translateX(0px) rotate(-45deg);

    background: #fff;
}
.button_container.active .button__text
{
    display: none;
}
.button_container span:nth-of-type(1)
{
    font-size: 15px;
    font-weight: 400;

    position: absolute;
    top: 12px;
    right: 35px;

    width: 80px;
}
.button_container span:nth-of-type(2)
{
    position: absolute;
    top: 15px;
    right: 0;

    width: 24px;
    height: 2px;

    content: '';
    cursor: pointer;
    transition: width cubic-bezier(1, .02, 1, 1) .2s;
    transition: all .35s ease;

    background: #222;
}
.button_container span:nth-of-type(3)
{
    position: absolute;
    top: 24px;
    right: 0;

    width: 24px;
    height: 2px;

    content: '';
    cursor: pointer;
    transition: width cubic-bezier(1, .02, 1, 1) .2s;
    transition: all .35s ease;

    background: #222;
}
.overlay
{
    position: fixed;
    bottom: 0;
    left: 0;

    visibility: hidden;
    overflow: hidden;

    width: 100%;
    height: 0;

    transition: visibility .35s, height .35s;

    opacity: 0;
    background: #141516;
}

.overlay.open
{
    visibility: visible;

    height: 100%;

    opacity: 1;
}



.overlay.open li
{
    animation: fadeInRight .6s ease forwards;
    animation-delay: .3s;
}

.overlay.open li:nth-of-type(2)
{
    margin-top: 104px;

    animation-delay: .45s;
}
.overlay.open li:nth-of-type(3)
{
    margin-top: 20px;

    animation-delay: .6s;
}
.overlay.open li:nth-of-type(4)
{
    margin-top: 26px;
    margin-left: 537px;

    animation-delay: .75s;
}


.overlay-about
{
    position: relative;

    height: 100%;
    margin: 0 auto;
    padding: 0;

    list-style: none;
}

.overlay ul li
{
    position: relative;

    display: block;

    opacity: 0;
}
.overlay ul li p
{
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;

    position: relative;

    display: block;
    overflow: hidden;

    width: 560px;
    margin-left: 300px;

    text-align: left;
    text-decoration: none;
    letter-spacing: 0;

    color: #fefefe;
}
.overlay ul li img
{
    width: 220px;
}
.introabout
{
    font-size: 20px;
    font-weight: 400;

    margin-top: 140px;

    text-align: left;
    letter-spacing: 0;

    color: #fefefe;
}
.introabout span:nth-of-type(1)
{
    font-size: 60px;
}
.introabout span:nth-of-type(2)
{
    margin-left: 300px;
}

@keyframes fadeInRight
{
    from
    {
        bottom: -10%;

        transform: rotate(-2deg);

        opacity: 0;
    }
    to
    {
        bottom: 0;

        transform: rotate(0deg);

        opacity: 1;
    }
}
@keyframes enter
{
    from
    {
        bottom: -10%;

        transform: rotate(-2deg) translateY(10px);

        opacity: 0;
    }
    to
    {
        bottom: 0;

        transform: rotate(0deg) translateY(0px);

        opacity: 1;
    }
}
@keyframes enterall
{
    from
    {
        opacity: 0;
    }
    to
    {
        opacity: 1;
    }
}

.none
{
    visibility: hidden;

    transition: .2s;
}
/*burger menu ------end------*/



.link-social__list
{
    position: absolute;
    bottom: 46px;
}
.link-social
{
    opacity: .2;
}
.link-social:hover
{
    opacity: .3;
}
.link-social:last-child
{
    margin-top: 20px;
}
.link-social
{
    width: 20px;
}
.readmore
{
    font-size: 15px;

    position: relative;

    float: right;

    width: 113px;
    height: 23px;
    margin-top: 179px;

    text-decoration: none;

    color: #222;
}
.button-underline
{
    font-weight: 400;

    position: relative;

    transition: color ease-out .5s;
    text-decoration: none;
}
.button-underline:after
{
    position: absolute;
    right: 0;
    bottom: 0;

    width: 60px;
    height: 2px;

    content: '';
    transition: width cubic-bezier(1, .02, 1, 1) .2s;

    background: #222;
}
.button-underline:hover:after
{
    width: 40px;
}
/*-------------------------Slider style------------------------------*/
.title
{
    position: relative;

    clear: both;
    overflow: hidden;

    width: 457px;
    height: 68px;
    margin-left: -5px;

    transform-origin: right;
    animation: fadeInRight .6s ease forwards;
    animation-delay: .25s;

    opacity: 0;
}

.project-title
{
    font-size: 60px;
    font-weight: 400;

    overflow: hidden;

    height: 100%;
}
.date
{
    font-weight: 400;

    float: left;
    overflow: hidden;

    width: 344px;
    height: 20px;
    margin-top: 227px;
    margin-left: 105px;

    transform-origin: right;
    animation: fadeInRight .6s ease forwards;
    animation-delay: .1s;

    opacity: 0;
}
.project-date
{
    font-size: 20px;

    overflow: hidden;

    width: 100%;
    height: 100%;

    text-align: right;
}
.counter
{
    position: relative;

    float: right;
    overflow: hidden;

    width: 31px;
    height: 32px;
    margin-top: 244px;
    margin-right: -13px;
}
.counter-fixe
{
    position: absolute;
    top: 0;
    right: 0;
}
.desc
{
    font-size: 15px;
    line-height: 25px;

    float: left;
    overflow: hidden;

    width: 100%;
    max-width: 456px;
    height: 50px;
    margin-top: 240px;
    margin-left: 100px;

    transform-origin: right;
    animation: fadeInRight .6s ease forwards;
    animation-delay: .4s;

    opacity: 0;
}

.project-desc
{
    font-size: 15px;
    line-height: 25px;

    float: left;
    overflow: hidden;
}
.bg-img
{
    position: absolute;
    z-index: -1;
    top: 0;

    overflow: hidden;

    width: 960px;
    height: 559px;
    margin: 0 auto;
    margin-top: 43px;

    transform: translateX(100px);

    background-color: #ddd;
}
.img
{
    overflow: hidden;

    width: 100%;
    height: 100%;

    background-position: center;
    background-size: 100% auto;
}
.img:nth-of-type(1)
{
    background-color: #f0f0f0;
    background-image: url(../img/bg.jpg);
}
.img:nth-of-type(2)
{
    background-color: #e6e6e6;
    background-image: url(../img/bg2.jpg);
}
.img:nth-of-type(3)
{
    background-color: #dadada;
}
.img:nth-of-type(4)
{
    background-color: #d5d5d5;
}
.img:nth-of-type(5)
{
    background-color: #c8c8c8;
}

.wrapper
{
    width: 100%;
    height: 100%;

    transition: .5s;
}

.slider-element
{
    width: 100%;
    height: 100%;
}

.control
{
    width: 40px;
    height: 40px;
    margin-bottom: 10px;

    cursor: pointer;

    background-color: black;
}
.control--1.control--active
{
    background-color: red;
}
.control--2.control--active
{
    background-color: blue;
}
.control--3.control--active
{
    background-color: green;
}


.date .wrapper
{
    transition-delay: .6s;
}
.desc .wrapper
{
    transition-delay: .25s;
}
/*------------------PROJECT PAGE--------------------------------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------*/
.bg-img--project
{
    height: 344px;
}
.project-page--title
{
    position: relative;

    overflow: visible;

    width: 457px;
    margin-top: 119px;
    margin-left: -5px;
}
.project-page--date
{
    position: absolute;
    top: -21px;
    right: 4px;
}

.project-page--desc
{
    margin-top: 162px;
}
.link-social__list-project
{
    top: 306px;
}
.project-tag
{
    float: right;

    margin-top: 165px;
    margin-right: 60px;

    text-align: right;
}
.project-tag li
{
    font-size: 15px;

    margin-bottom: 24px;
}
section
{
    clear: both;
}
.text
{
    font-size: 15px;
    line-height: 21px;

    letter-spacing: .2px;
}
.title-text
{
    font-size: 20px;
    font-weight: 400;
}
/*---------------------------*/
.dem
{
    position: relative;

    padding-top: 300px;
}
.title-text-dem
{
    margin-bottom: 43px;
    margin-left: 200px;
}
.text-dem
{
    width: 460px;
    margin-left: 200px;
}
.img-dem
{
    position: absolute;
    z-index: -1;
    right: 100px;
    bottom: -24px;

    width: 560px;
    height: 346px;

    background-color: #dadada;
}
/*---------------------------*/
.dema
{
    position: relative;

    padding-top: 263px;
}
.title-text-dema
{
    margin-left: 99px;
}
.text-dema
{
    width: 360px;
    margin-left: 500px;
}
.text-dema:first-of-type
{
    margin-top: 81px;
    margin-bottom: 43px;
}
.img-dema
{
    position: absolute;
    z-index: -1;
    top: 193px;
    left: 200px;

    width: 260px;
    height: 346px;

    background-color: #dadada;
}
/*---------------------------*/
.arch
{
    position: relative;

    padding-top: 219px;
}
.title-text-arch
{
    float: right;
}
.text-arch
{
    clear: both;

    width: 460px;
    margin-top: 516px;
    margin-left: 600px;
}
.img-arch
{
    position: absolute;
    z-index: -1;
    top: 179px;
    left: 0;

    width: 960px;
    height: 516px;

    background-color: #dadada;
}
/*---------------------------*/
.sty
{
    position: relative;

    padding-top: 173px;
}
.title-text-sty
{
    margin-bottom: 23px;
    margin-left: 99px;
}
.text-sty
{
    width: 360px;
    margin-left: 99px;
}
.sty-tag
{
    margin-top: -124px;
}
.sty-tag li
{
    margin-bottom: 22px;
}
/*---------------------------*/
.fon
{
    position: relative;

    padding-top: 152px;
}
.title-text-fon
{
    margin-bottom: 56px;
    margin-left: 99px;
}
.list-fon
{
    display: block;

    margin-left: 260px;
}
.list-fon li
{
    font-size: 15px;

    float: left;

    width: 225px;
    margin-right: 75px;
    margin-bottom: 27px;
}
.img-fon
{
    position: absolute;
    bottom: -111px;
    left: 100px;

    width: 100px;
    height: 86px;

    background-color: #dadada;
}

/*---------------------------*/
.col
{
    position: relative;

    padding-top: 140px;
}
.title-text-col
{
    margin-bottom: 56px;
    margin-left: 99px;
}
.text-col
{
    width: 360px;
    margin-left: 99px;
}
.list-col
{
    display: block;

    margin-left: 200px;
}
.list-col li
{
    font-size: 15px;

    position: relative;

    float: left;

    width: 92px;
    margin-right: 110px;
    margin-bottom: 27px;

    text-align: right;
}
.list-col li::before
{
    position: absolute;
    top: 0;
    left: 0;

    width: 15px;
    height: 15px;

    content: '';

    background-color: #dadada;
}
/*---------------------------*/
.ico
{
    padding-top: 140px;
}
.title-text-ico
{
    margin-bottom: 29px;
    margin-left: 99px;
}
.list-ico
{
    display: flex;

    width: 60%;
    max-width: 700px;
    margin: 0 auto;

    justify-content: space-between;
}
.img-ico
{
    width: 84px;
    height: 84px;

    background-color: #dadada;
}
/*---------------------------*/
.gri
{
    padding-top: 170px;
}
.title-text-gri
{
    float: right;

    margin-right: 212px;
    margin-bottom: 29px;
}
.img-gri
{
    clear: both;

    width: 100%;
    height: 160px;

    background-color: #dadada;
}
